* {
  margin: 0;
  padding: 0;
}

table {
  color: #fff;
  margin-bottom: 50px;
}
td {
  color: #954535;
}
table img {
  border-radius: 8px;
  height: 200px;
  width: 230px;
  margin: 50px;
}

.left {
  margin-left: 50px;
}
.sp {
  color: #010b13;
}
.let {
  margin-left: 50px;
}
.ps {
  color: #010b13;
}

#back {
  border-radius: 300px;
  margin-left: 130px;
  margin-right: 100px;
}
#back img {
  transition: 0.7s;
}
#back img:hover {
  transform: scale(1.1);
}

/* Responsive */
@media only screen and (max-width: 768px) {
  #back {
    padding: 10px;
  }

  table {
    font-size: 14px;
  }

  td {
    padding: 10px;
  }

  .left {
    padding-left: 20px;
  }

  .sp {
    font-size: 16px;
  }

  .ps {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  #back {
    padding: 5px;
  }

  table {
    font-size: 12px;
  }

  td {
    padding: 5px;
  }

  .left {
    padding-left: 10px;
  }

  .sp {
    font-size: 14px;
  }

  .ps {
    font-size: 14px;
  }
}
